* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display:flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

nav ul li a:hover {
    color: red;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0;
}

.col1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col1 h2 {
    font-size: 54px;
}

.col1 h3 {
    font-size: 30px;
    color: darkred;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col1 p {
    font-size: 16px;
    color: rgb(101, 101, 101);
    font-weight: 100;
}

.col1 h4 {
   margin: 30px 0;
   font-size: 20px;
}

button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, rgb(190, 26, 26), rgb(134, 55, 55));
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.5s;
}

button img {
    width: 30px;
    display: none;
}

button:hover img{
    display: block;
}

button:hover {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1::after {
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(rgb(190, 26, 26), rgb(134, 55, 55));
    position: absolute;
    left: -40px;
    top: 8px;
}

.col2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col2 .models {
    width: 90%;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(rgb(161, 21, 21), rgb(105, 50, 50));
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 110%;
    z-index: -1;
    transform:translateX(150px);
}

.add-wish img{
    width: 35px;
    margin-bottom: 5px;
}

.add-wish {
    text-align: center;
    color:#fff;
    cursor: pointer;
}

.socials img{
    height: 25px;
    margin: 20px;
    cursor: pointer;  
}

.socials {
    text-align: center;
}

@media only screen and (max-width: 700px) {

    nav ul {
        width: 100%;
        background: linear-gradient(rgb(161, 21, 21), rgb(105, 50, 50));
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.3s;
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col2 .models {
        width: 80%;
    }

    .color-box {
        transform: translateX(100px) ;
    }

    .col1 {
        flex-basis: 100%;
    }

    .col1 h2{
        font-size: 35px;
    }

    .col1 h3 {
        font-size: 15px;
    }

}